.vscode/*
**/__pycache__/*
backup/*
output/*

# Pose #
pose/joints.txt
pose/images/saved/*
pose/backup/*
pose/models/graph/cmu/graph_freeze.pb
pose/models/graph/cmu/graph_opt.pb
pose/models/graph/cmu/graph.pb

